body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}

#header {
    display: flex;
    justify-content: center;
    padding: 40px;
}

#title {
    margin-right: 10px; 
    font-size: 40px;
}

#main {
    height: 615px;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(240, 240, 240);
}

#github-user {
    margin-left: 5px;
}