body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}

#header {
    display: flex;
    justify-content: center;
    padding: 40px;
}

#title {
    margin-right: 10px; 
    font-size: 40px;
}

#main {
    height: 615px;
    display: flex;
    justify-content: space-around;
    padding: 0px 200px;
}

#color-side > button {
    border-radius: 100px;
    height: 40px;
    width: 40px;
    margin: 10px;
    border-color: grey;
}

#color-side > button:hover {
    box-shadow: 3px 3px grey;
}

#board {
    width: 450px;
    height: 450px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 3px 3px;
    margin-bottom: 30px;
}

.pixel {
    width: calc(446px/4);
    height: calc(446px/4);
    flex-shrink: 0;
    border: solid 0.5px;
    cursor: crosshair;
}

#board-side-btns {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

#clear-btn{
    padding: 10px 25px;
    border-radius: 10px;
    font-family: 'Gill Sans';
    font-size: 15px;
}

#dim-slider {
    -webkit-appearance: none;
    width: 200px;
    cursor: pointer;
}

#dim-slider::-webkit-slider-runnable-track {
    background:darkgrey;
    border: 1px solid;
    padding: 5px;
}

#dim-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 3px;

}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(240, 240, 240);
}

#github-user {
    margin-left: 5px;
}